html {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
   display: flex;
   flex-direction: row;
   margin: 20px;
  }

  nav {
    width: 20%;
    border-right: 4px solid gray;
    padding: 50px 15px;
  }

  nav li {
    color: black;
  margin: 0.2rem 0.25rem;
  padding: 0.2rem;
  display: block;
  border-bottom: 1px solid slategray;
  }

  li > a {
    color: black;
    text-decoration: none;
    letter-spacing: 0.15px;
  }

  header {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2px;
  }

  #main-doc {
    width: 70%;
    padding: 50px 20px;
 }

   h1 {
    letter-spacing: 0.6px;
    font-size: 2rem;
   }

   p,dl,dt {
    letter-spacing: 0.15px;
   }

  @media (min-width: 480px) and (max-width: 768px) {
    body {
        flex-direction: column;
        margin: auto;
    }

    nav {
        width: 100%;
    }

    #main-doc {
        width: 100%;
    }
  }