html {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    color: #0a0a23;
  }

  section {
    max-width: 40rem;
    margin: 50px auto;
    border: 2px solid #d0d0d5; 
    color: #356eaf;
    font-size: 1em;
    font-weight: normal;
    padding-left: 1rem;
  }

 